<!DOCTYPE html>
<html>
    <head>
        <title>Southern Hospitality</title>
    </head>

    <body>
    	<p>Southern Hospitality with a Modern Twist</p>
    	{% if user.is_authenticated %}
    	<p>
    		{% csrf_token %}
    		Welcome, {{ user.username }}
    	</p>
		<a href="/restricted/">Restricted Page</a><br />
		<a href="/logout/">Logout</a><br />
		{% else %}
		<a href="/register/">Register Here</a><br />
		<a href="/login/">Login</a><br />
		{% endif %}
    	
    	
    	<a href="/about">About Us</a>
    	<a href="/careers">Careers</a>
    	<a href="/contact">Contact Us</a>
    	
    	



    </body>
</html>
    
